header {
  position: relative;
  z-index: 2;
}

header a:nth-of-type(2) {
  display: none;
}

video {
  position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}