* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

:root {
  --main-color: #fff;
  --text-color: #000;
  --point-color: #08b6fd;
}

.header-wrap {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.5s ease;
}

.header-wrap.unfold,
.header-wrap.scroll {
  background-color: var(--main-color);
}

.header-wrap.unfold .h-logo-img,
.header-wrap.scroll .h-logo-img {
  opacity: 1;
}

.header-wrap.unfold span,
.header-wrap.scroll span {
  background-color: var(--text-color);
}

.header-wrap.unfold .menu-wrap {
  background-color: var(--main-color);
}

.header-wrap:hover {
  background-color: var(--main-color);
}

.header-item {
  width: 93%;
  height: 6rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  position: absolute;
  top: 8.5%;
  width: 7.5rem;
  display: block;
}

.h-logo-img {
  opacity: 0;
}

.header-wrap:hover .h-logo-img {
  opacity: 1;
}

.menu-btn {
  width: 1.5rem;
  height: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
  position: relative;
}

.menu-btn span {
  width: 100%;
  height: 3px;
  display: block;
  background-color: var(--main-color);
  position: absolute;
}

.menu-btn span:nth-of-type(1) {
  top: 0;
}

.menu-btn span:nth-of-type(2) {
  top: 6.5px;
  width: 60%;
  left: 9px;
}

.menu-btn span:nth-of-type(3) {
  top: 13.5px;
}

.header-wrap:hover .menu-btn span {
  background-color: var(--text-color);
}

.menu-btn.turn span:nth-of-type(1) {
  top: 6.5px;
  transform: rotate(45deg);
}

.menu-btn.turn span:nth-of-type(2) {
  opacity: 0;
}

.menu-btn.turn span:nth-of-type(3) {
  top: 6.5px;
  transform: rotate(-45deg);
}

.bg-line {
  border: 1px solid rgba(199, 199, 199, 0.781);
}

.menu-wrap {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 6rem;
  background-color: var(--main-color);
  z-index: 1100;
  opacity: 0;
  transition: all 0.5s ease;
  pointer-events: none;
}

.menu-wrap.unfold {
  opacity: 1;
  pointer-events: auto;
}

.mian-menu {
  display: flex;
  margin-top: 3rem;
  gap: 1.2rem;
}

.inner-menu {
  width: 25%;
  padding: 0 1rem;
}

.inner-menu a h2 {
  color: var(--text-color);
  font-size: 1.5rem;
  padding: 1.5rem 0;
  border-top: 2px solid var(--text-color);
  border-bottom: 1px solid #d6d5d5;
}

.inner-menu ul li {
  padding: 1.5rem 0;
  font-size: 1rem;
  font-weight: 500;
  color: #2c2c2c;
  border-bottom: 1px solid #d6d5d5;
}

.inner-menu ul li a:hover {
  color: var(--point-color);
  transition: color 0.2s ease;
}

/* section1 */

.section1 {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.section1-wrap {
  position: relative;
  height: 100%;
}

.section1-wrap video {
  position: absolute;
  inset: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.video-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.section1-text1 {
  position: absolute;
  color: var(--main-color);
  top: 30%;
  left: 60px;
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
  z-index: 3;
}

.section1-text1.show {
  opacity: 1;
  transform: translateY(0);
}

.section1-text-box h2 {
  font-weight: bold;
  font-size: 4.5rem;
  line-height: 7rem;
  transform: translateX(-10px);
}

.section1-text-box p {
  font-weight: 450;
  font-size: 1.39rem;
}

/* section2 */

.section2 {
  height: 100vh;
  overflow: hidden;
}

.section2-wrap {
  display: flex;
  height: 100%;
}

.section2-left,
.section2-right {
  transition: flex-grow 0.5s ease;
  position: relative;
  flex: 1;
}

.section2-wrap img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.section2-left:hover,
.section2-right:hover {
  flex-grow: 1.3;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 10;
}

.section2-left:hover .overlay,
.section2-right:hover .overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.section2-text-box {
  position: absolute;
  top: 50%;
  left: 60px;
  transform: translateY(-50%);
  color: var(--main-color);
  font-weight: 500;
  font-size: 1.2rem;
  z-index: 20;
  opacity: 0;
  transition: all 0.8s ease;
}

.section2-left .section2-text-box {
  transform: translateX(-60px) translateY(-50%);
}
.section2-right .section2-text-box {
  transform: translateX(60px) translateY(-50%);
}

.section2-text-box.active {
  opacity: 1;
  transform: translateX(0) translateY(-50%);
}

.section2-text-box.right-text {
  right: 60px;
  text-align: right;
}

.section2-text-box h3 {
  font-size: 2.5rem;
  font-weight: 700;
}

.section2-h3 a {
  color: var(--point-color);
  display: block;
  padding: 1.2rem 0;
}

.section2-h3.right-h3 a {
  color: #ffc002;
}

.section2-h3 span {
  font-size: 1.5rem;
  font-weight: 700;
}

.section2-list {
  width: 17rem;
}

.section2-list.right-list {
  margin-left: auto;
}

.section2-list li a {
  display: flex;
  justify-content: space-between;
  color: var(--main-color);
  font-size: 1rem;
  border-bottom: 1px solid #e3e3e3c3;
  width: 100%;
  padding: 0.9rem 0;
  position: relative;
}

.section2-list li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0%;
  height: 1.2px;
  background-color: var(--main-color);
  transition: all 0.9s ease;
}

.section2-list li a:hover::after {
  width: 100%;
}

.section2-list li a:nth-of-type(1) {
  border-top: 1px solid #c5c5c5;
}

.li-arrow img {
  object-fit: contain;
}

.plus-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--point-color);
  display: none;
  width: 4.5rem;
  z-index: 10;
  padding: 0.7rem;
}

.plus-btn.right-btn {
  left: 0;
  background-color: #ffc002;
}

.section2-left:hover .plus-btn,
.section2-right:hover .right-btn {
  display: block;
}

/* section3 */

.section3 {
  background: url(img/section3-bg.png) no-repeat center / cover;
  position: relative;
}

.section3-wrap {
  text-align: center;
  padding-top: 5.5rem;
}

.section3-wrap h3 {
  font-size: 3.3rem;
  padding-bottom: 0.5rem;
}

.section3-wrap span {
  color: var(--point-color);
}

.section3-wrap p {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2rem;
}

.section3-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 2rem 2rem;
  margin-top: 0.5rem;
}

.section3-item div {
  background-color: var(--main-color);
}

.section3-item a {
  display: block;
}

.section3-item a:hover .item-img img {
  transform: scale(1.5);
}

.item-img {
  height: 16rem;
  padding: 1rem;
  box-sizing: border-box;
}

.item-img-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s ease;
  transform: scale(1);
}

.item-icon {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item-icon img {
  margin: 0 auto;
  width: 3.8rem;
}

.item-icon h2 {
  font-size: 1.5rem;
}

.item-icon p {
  font-size: 1rem;
  padding-bottom: 1rem;
  font-weight: 400;
}

/* section4 */

.section4 {
  height: 100vh;
}

/* section5 */

.section5 {
  background: url(img/section5_bg.png) no-repeat center / cover;
  height: 70vh;
}

.section5-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  width: 100%;
  height: 21rem;
  margin: 0 auto;
}

.section5-video video {
  height: 100%;
  object-fit: cover;
}

.section5-wrap ul {
  display: flex;
  gap: 1.5rem;
}

.section5-wrap ul a {
  position: relative;
}

.section5-wrap ul a img {
  display: block;
  height: 100%;
}

.section5-text-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 5.5rem;
  background-color: rgba(59, 69, 98, 0.9);
  box-sizing: border-box;
  padding: 0.35rem;
}

.section5-text {
  border: 1px solid #d6d5d5;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section5-text p {
  color: var(--main-color);
  font-weight: 450;
  font-size: 1.2rem;
}

.section5-text-wrap h3 {
  font-size: 1.2rem;
  color: #fffaa9;
}

/* footer */

.footer-wrap {
  background-color: #282828;
  padding: 3.5rem 2rem;
  display: flex;
  gap: 3.5rem;
  align-items: center;
}

.footer-wrap img {
}

.footer-txt {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  width: 60%;
}

.footer-txt p {
  color: #d3d3d3;
}

.footer-txt span {
  color: #959595;
  margin-right: 0.7rem;
}
