body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: background-color 0.5s ease;
}

.main-header:hover,
.main-header.is-open {
  background-color: #fff;
}

.logo-default,
.logo-hover {
  position: absolute;
  top: 0;
  width: 6.3rem;
  margin-top: 0.5rem;
}

.logo-hover { 
  opacity: 0; 
}

.main-header:hover .logo-hover,
.main-header.is-open .logo-hover {
  opacity: 1;
}

.main-header:hover .menu-btn span,
.main-header.is-open .menu-btn span {
  background-color: #000;
}

.main-header.scroll {
  background-color: #fff;
}

.main-header.scroll .logo-hover {
  opacity: 1;
}

.main-header.scroll .menu-btn span {
  background-color: #000;
}

.header-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 5.3rem;
  margin: auto;
}

.menu-btn {
  cursor: pointer;
  position: relative;
  width: 22px;
  height: 18px;
}

.menu-btn span {
  position: absolute;
  width: 22px;
  height: 2.2px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.menu-btn span:nth-child(1) { top: 0; }
.menu-btn span:nth-child(2) { top: 7px; }
.menu-btn span:nth-child(3) { top: 14px; }

.main-header.is-open .menu-btn span:nth-child(1) {
  transform: rotate(45deg);
  top: 7px;
  background-color: #000;
}

.main-header.is-open .menu-btn span:nth-child(2) {
  opacity: 0;
}

.main-header.is-open .menu-btn span:nth-child(3) {
  transform: rotate(-45deg);
  top: 7px;
  background-color: #000;
}

.bg-line {
  border: 1px solid #ffffff61;
}

.main-menu {
  position: fixed;
  top: 5rem;         
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  opacity: 0;
  z-index: 100;
  transition: all .5s;
}

.main-menu.active {
  opacity: 1;
}

.wrap-menu {
  display: flex;
  gap: 1.3rem;
  width: 95%;
  margin: auto;
  margin-top: 3rem;
}

.inner {
  width: calc(25%);
}

.inner h3:first-child {
  color: #000;
  border-top: 2px solid #000;
  line-height: 3.5rem;
}

.inner li {
  border-bottom: 1px solid #c7c7c7;
  padding: 1rem;
  padding-left: 0;
  font-size: 13.5px;
  font-weight: 500;
}

.inner li:hover a {
  color: #08b6fd;
}

#section01 video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#section01 {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

#section01::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.212);
  z-index: 1;
  pointer-events: none;
}

.section01-textbox {
  position: relative;
  top: 10rem;
  width: 90%;
  margin: 0 auto;
  color: #fff;
  z-index: 5;
}

.section01-textbox h1 {
  font-size: 50px;
}

.section01-textbox p {
  font-size: 20px;
}

.section02-wrap {
  width: 100%;
  display: flex;
  position: relative;
}

.section02-left img, 
.section02-right img {
  width: 100%;
  height: 100%;
  display: block;
}

.section02-left {
  position: relative;
  transition: all 0.7s ease, flex-grow 0.6s ease;
  flex-grow: 1;
}

.section02-left img:hover .bg_overlay{
  position: absolute;
  background-color: rgba(35, 34, 34, 0.918);

}



