* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

:root {
  --main-color: #fff;
  --text-color: #000;
  --point-color: #08b6fd;
}

.header-wrap {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: all .5s ease;
}

.header-wrap.unfold, 
.header-wrap.scroll {
  background-color: var(--main-color);
}

.header-wrap.unfold .h-logo-img,
.header-wrap.scroll .h-logo-img {
  opacity: 1;
}

.header-wrap.unfold span, 
.header-wrap.scroll span {
  background-color: var(--text-color);
}

.header-wrap.unfold .menu-wrap {
  background-color: var(--main-color);
}

.header-wrap:hover {
  background-color: var(--main-color);
}

.header-item {
  width: 93%;
  height: 5rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  position: absolute;
  top: 9%;
  width: 6rem;
  display: block;
}

.h-logo-img {
  opacity: 0;
}

.header-wrap:hover .h-logo-img {
  opacity: 1;
}

.menu-btn {
  width: 1.5rem;
  height: 1rem;
  cursor: pointer;
  transition: all .5s ease;
  position: relative;
}

.menu-btn span {
  width: 100%;
  height: 3px;
  display: block;
  background-color: var(--main-color);
  position: absolute;
}

.menu-btn span:nth-of-type(1) {
  top: 0;
}

.menu-btn span:nth-of-type(2) {
  top: 6.5px;
  width: 60%;
  left: 9px;
}

.menu-btn span:nth-of-type(3) {
  top: 13.5px;
}

.header-wrap:hover .menu-btn span{
  background-color: var(--text-color);
}

.menu-btn.turn span:nth-of-type(1) {
  top: 6.5px;
  transform: rotate(45deg);
}

.menu-btn.turn span:nth-of-type(2) {
  opacity: 0;
}

.menu-btn.turn span:nth-of-type(3) {
  top: 6.5px;
  transform: rotate(-45deg);
}

.bg-line {
  border: 1px solid rgba(199, 199, 199, 0.781);
}

.menu-wrap {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 5rem;
  background-color: var(--main-color);
  z-index: 1100;
  opacity: 0;
  transition: all .5s ease;
  pointer-events: none;
}  

.menu-wrap.unfold {
  opacity: 1;
  pointer-events: auto;
}

.mian-menu {
  display: flex;
  margin-top: 3rem;
  gap: 1.2rem;
}

.inner-menu {
  width: 25%;
  padding: 0 1rem;
}

.inner-menu a h2 {
  color: var(--text-color);
  font-size: 1.3rem;
  padding: 1.2rem 0;
  border-top: 2px solid var(--text-color);
  border-bottom: 1px solid #c5c5c5;
}

.inner-menu ul li {
  padding: 1.5rem 0;
  font-size: 0.8rem;
  font-weight: 500;
  color: #2c2c2c;
  border-bottom: 1px solid #c5c5c5;
}

.inner-menu ul li a:hover {
  color: var(--point-color);
  transition: all .2s ease;
}

.section1 {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.section-wrap {
  position: relative;
  height: 100%;
}

.section-wrap video {
  position: absolute;
  inset: 0;
  object-fit: cover;
}

.section2 {
  height: 100vh;
}

.section2-wrap {
  display: flex;
  height: 100%;
}

.section2-left,
.section2-right {
  transition: flex-grow 0.5s ease;
  position: relative;
  flex: 1;
}

.section2-wrap img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.section2-left:hover,
.section2-right:hover {
  flex-grow: 1.3;
}

.overlay {
  position: absolute;
  inset: 0;
}

.section2-left:hover .overlay,
.section2-right:hover .overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

