body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  /* background: transparent; */
  transition: background-color 0.5s ease, color 0.3s ease;
}

.header-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 5.3rem;
  margin: auto;
}

.logo-default,
.logo-hover {
  position: absolute;
  top: 0;
  z-index: 3;
  width: 6.3rem;
  margin-top: 0.5rem;
}

.logo-hover { 
  opacity: 0; 
}

.main-menu ul {
  display: flex;
  gap: 1.5rem;
  padding-left: 0;
  opacity: 0;
}

.menu-btn i {
  font-size: 1.6rem;
  color: #fff;
}

.main-header:hover {
  background-color: #fff;  
}

.main-header:hover .logo-default {
  opacity: 0;
}

.main-header:hover .logo-hover {
  opacity: 1;
}

.main-header:hover .menu-btn i {
  color: #000;
}

.bg-line {
  border: 1px solid #ffffff61;
}

#section01 video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-text-box